@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #ff7a00;
  --color-secondary: #60a5fa;
  --color-accent: #34d399;
  --color-neutral: #1e293b;
  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}
